<%- include ../public/share/header.html  %>

	  <meta charset="utf-8" />

   	<link href="css/h1.css" rel="stylesheet" />


<div style="position:fixed; left:500px;top:200px">
<h1 > R U ready?</h1>
<br/>
<h1> Let's begin </h1>
</div>

<p class="microsoft marquee"> 
 请按'N' 键转下一幕；'P'键转上一幕。 提醒：由于时间及水平有限，程序代码可能存在问题，另由于数据量较大（>800MB)，所以可能造成浏览器crash,此时可尝试刷新浏览器。　推荐浏览器：Chrome，其它可尝试的有Firefox, Safari。
</p>