	.overlay {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 6px;
	display:none;
	text-align:center;
	margin:auto;
	padding:10px;
	width:1024px;
	height:80px;
	background-color:rgba(200, 200, 200, .3);	
	z-index:0;
	position:absolute;
	border:3px solid  DarkBlue;
	color:Red;
	left:7%;
	top:83%;
}

.overlay .contents { 
	 font-weight: bold;
	font-size: 80px;
	color:lime;
	font-weight: bold;
	position:absolute;
	top: -20px;
}

.overlay .dialog { 
	 font-weight: bold;
	font-size: 60px;
	color:lime;
	font-weight: bold;
	position:absolute;
	top: 0px;
}
